.env.old
.idea/
frontend/src/config/config.ts
backend/upload/
backend/logs/
backend/migrations/*
mariaDB/data/*
.env
upload
frontend/customAssets/
frontend/customAssets/*
/frontend/customAssets/*
/dumps/*
./exernal-app/