version: "3.8"
services:

  db:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASS}
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    restart: unless-stopped
    volumes:
      - ./mariaDB/data:/var/lib/mysql:rw
    networks:
      - app-network

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        VITE_BACKEND_URL: ${HTTP_PROTOCOL}://${BACKEND_HOST}
        VITE_CADDY_URL: ${CADDY_HTTP_PROTOCOL}://${CADDY_HOST}
        VITE_INSTANCE_SHORT_NAME: ${INSTANCE_SHORT_NAME}
        VITE_INSTANCE_NAME: ${INSTANCE_NAME}
        VITE_MAX_UPLOAD_SIZE: ${MAX_UPLOAD_SIZE}
    environment:
      VITE_BACKEND_URL: ${HTTP_PROTOCOL}://${BACKEND_HOST}
      VITE_CADDY_URL: ${CADDY_HTTP_PROTOCOL}://${CADDY_HOST}
      INSTANCE_SHORT_NAME: ${INSTANCE_SHORT_NAME}
      INSTANCE_NAME: ${INSTANCE_NAME}
      MAX_UPLOAD_SIZE: ${MAX_UPLOAD_SIZE}
      VITE_KEYCLOAK_URL: ${KEYCLOAK_ISSUER}
      VITE_KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      VITE_KEYCLOAK_CLIENT: ${KEYCLOAK_CLIENT}
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

  backend:
    build: ./backend
    volumes:
      - ./$HTTP_FOLDER:/upload
      - ./logs:/logs
    environment:
      DB_HOST: ${DB_HOST}
      DB_PASS: ${DB_PASS}
      DB_DATABASE: ${DB_DATABASE}
      DB_USER: ${DB_USER}
      SMTP_DOMAIN: ${SMTP_DOMAIN}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_IGNORE_TLS: ${SMTP_IGNORE_TLS}
      SMTP_SSL: ${SMTP_SSL}
      JWT_SECRET: ${JWT_SECRET}
      SALT: ${SALT}
      CADDY_URL: "${CADDY_HTTP_PROTOCOL}://${CADDY_HOST}"
      BACKEND_PORT: ${BACKEND_PORT}
      FRONTEND_URL: "${HTTP_PROTOCOL}://${HOST}"
      BACKEND_URL: ${HTTP_PROTOCOL}://${BACKEND_HOST}
      SWAGGER_RELATIVE_PATH: ${SWAGGER_RELATIVE_PATH}
      SWAGGER_TITLE: ${SWAGGER_TITLE}
      SWAGGER_DESCRIPTION: ${SWAGGER_DESCRIPTION}
      SWAGGER_VERSION: ${SWAGGER_VERSION}
      ADMIN_MAIL: ${ADMIN_MAIL}
      FROM_MAIL: ${FROM_MAIL}
      NAME_MAIL: ${NAME_MAIL}
      LOG_LEVEL: ${LOG_LEVEL}
      MAX_UPLOAD_SIZE: ${MAX_UPLOAD_SIZE}
      INSTANCE_SHORT_NAME: ${INSTANCE_SHORT_NAME}
      INSTANCE_NAME: ${INSTANCE_NAME}
      MAX_API_PAYLOAD_SIZE: ${MAX_API_PAYLOAD_SIZE}
      ALLOW_PEERTUBE_MEDIA: ${ALLOW_PEERTUBE_MEDIA}
      ALLOW_YOUTUBE_MEDIA: ${ALLOW_YOUTUBE_MEDIA}
      ALLOW_CREATE_USER: ${ALLOW_CREATE_USER}
      LOG_FOLDER: ${LOG_FOLDER}
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOACK_CLIENT_SECRET: ${KEYCLOACK_CLIENT_SECRET}
    depends_on:
      - db
    restart: ${RESTART}
    links:
      - db
    networks:
      - app-network

  caddy:
    hostname: files
    image: caddy:latest
    restart: ${RESTART}
    environment:
      - CORS_ALLOWED_HOSTS
      - WEBPACK_MODE=development
    volumes:
      - $HTTP_FOLDER:/srv
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    networks:
      - app-network

networks:
  app-network:
    driver: bridge




