services:
  frontend:
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.${NAME}.rule=Host(`${HOST}`)"
      - "traefik.http.routers.${NAME}.tls.certresolver=myresolver"
      - "traefik.http.routers.${NAME}.entrypoints=web,websecure"
      - "traefik.http.middlewares.hardening-${NAME}.headers.sslredirect=true"
      - "traefik.http.middlewares.hardening-${NAME}.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.hardening-${NAME}.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.hardening-${NAME}.headers.stsSeconds=15552000"
      - "traefik.http.middlewares.hardening-${NAME}.headers.stsPreload=true"
      # This overwrites traefik base config to allow x-frame from other origin
      - "traefik.http.routers.${NAME}.middlewares=hardening-${NAME}@docker"
      - "traefik.http.middlewares.hardening-${NAME}.headers.customResponseHeaders.X-Frame-Options="

  backend:
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.${BACKEND_NAME}.rule=Host(`${BACKEND_HOST}`)"
      - "traefik.http.routers.${BACKEND_NAME}.tls.certresolver=myresolver"
      - "traefik.http.routers.${BACKEND_NAME}.entrypoints=web,websecure"
      - "traefik.http.routers.${BACKEND_NAME}.middlewares=hardening@docker"

  caddy:
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.${CADDY_NAME}.rule=Host(`${CADDY_HOST}`)"
      - "traefik.http.routers.${CADDY_NAME}.tls.certresolver=myresolver"
      - "traefik.http.routers.${CADDY_NAME}.entrypoints=web,websecure"
      # This overwrites traefik base config to allow x-frame from other origin
      - "traefik.http.routers.${CADDY_NAME}.middlewares=hardening-${CADDY_NAME}@docker"
      - "traefik.http.middlewares.hardening-${CADDY_NAME}.headers.customResponseHeaders.X-Frame-Options="
networks:
  traefik:
    external: true
