.mmu-highlight-yellow {
    background-color: #ffeb3b;
}

.mmu-highlight-green {
    background-color: green;
}

.mmu-highlight-blue {
    background-color: #2196f3;
}

.mmu-highlight-red {
    background-color: red;
}

.mmu-highlight-orange {
    background-color: #ff9800;
}

.mmu-copy-button {

}
