.highlight-yellow {
    background-color: #ffeb3b;
}

.highlight-green {
    background-color: #4caf50;
}

.highlight-blue {
    background-color: #2196f3;
}

.highlight-red {
    background-color: red;
}

.highlight-orange {
    background-color: #ff9800;
}
